[submodule "apps/create_tables"]
	path = apps/create_tables
	url = https://github.com/WywySenarios/Wywy-Website-Create-Tables
[submodule "apps/sync/Wywy_Website_Types"]
	path = apps/sync/Wywy_Website_Types
	url = https://github.com/WywySenarios/Wywy-Website-Python-Types.git
